body {
  margin: none;
  padding: 0%;
  background-color: rgb(170, 170, 170);
}
.about {
  align-items: center;
  display: flex;
  padding: 40px;
  justify-content: space-around;
}

.btn {
  border-radius: 10px;
  text-decoration: none;
}

.info {
  padding: 40px;
  font-size: x-large;
}

.section1 {
  color: white;
  background-color: #2e2e31;
  /* background-image: url("/images/dev.jpeg"); */
}

.description {
  text-align: center;
  padding: 40px;
  font-size: large;
}

.technical {
  text-align: center;
  padding: 40px;
  font-size: x-large;
}

.row1,
.row2 {
  display: flex;
  justify-content: space-around;
  font-size: larger;
}

.design,
.html,
.javascript,
.bootstrap {
 
}

h3 {
  text-align: center;
}

.offer {
    background-color: rgb(109, 104, 104);
  display: flex;
  justify-content: space-around;
  font-size: larger;
  padding: 20px;
  /* background-color: rgb(78, 74, 74); */
}

.front,
.back,
.seo {
  color: white;
  border-radius: 20px;
  background-color: rgb(39, 37, 37);
  padding: 30px;
  margin: 30px;
}
