body {
  background-color: rgb(109, 104, 104);
}

.contact {
  height: 80vh;
  padding: 20px;
  color: rgb(224, 206, 206);
  font-size: xx-large;
  text-align: center;
}

.field {
  size: 30vw;
  height: 5vh;
  border-radius: 10px;
  margin: 20px;
}

#text {
  height: 10vh;
}
