body {
  margin: none;
  padding: 0%;
  text-decoration: none;
}

.header {
  width: 100vw;
  align-items: center;
  padding: 20, 20, 0 20;
  background-color: aliceblue;
  justify-content: space-around;
}

.logo {
  display: flex;
}

.tabs {
  float: right;
  display: flex;
  list-style: none;
  padding-right: 100px;
}
.tabs a {
  text-decoration: none;
  padding: 30px;
  font-size: large;
}

#profile {
  border-radius: 50%;
}

#profile1 {
  border-radius: 50%;
}

#name {
  font-size: x-large;
  padding-left: 30px;
}

.intro {
  text-align: center;
  height: 80vh;
  font-size: xx-large;

  padding: 50px;
  color: rgb(255, 255, 255);
  background-color: rgb(109, 104, 104);
}


.copyright {
  text-align: center;
  background-color: rgb(160, 158, 158);
  padding: 10px;
  font-size: large;
 
}

.footer {
  display: flex;
  padding: 30px;
  background-color: #2e2e31;
  justify-content: center;
}

.phone,
.mail,
.location,
.facebook,
.twitter,
.instagram {
  display: flex;
  margin: 30px;
}

.imgs {
  border-radius: 10px;
  margin-right: 10px;
}

